* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* LAYOUT */
.container {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  display: block;
}

.input-group {
  width: 100%;
}


/******* QUESTÃO 1 *******/
/* INPUT */
input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: solid 1px;
  margin-bottom: 15px;
  padding: 5px;
  transition: border-bottom 0.5s linear;
}

input::placeholder {
  color: #000;  
}

.input-group label {
  position: relative;
  top: -40px;
  opacity: 0;
  visibility: hidden;
}

input:focus {
  outline: 0;
  border-bottom: solid 3px;
  transition: border-bottom 0.5s step-end;
}

input:focus ~ label {
  opacity: 1;
  visibility: visible;
  top: -60px;
  transition: all 100ms linear;
}

input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

/* BUTTON */
button {
  outline: 0;
  width: 100px;
  height: 40px;
  background-color: #808080;
  color: #1e1e1e;
  border: 0px;
  border-bottom: 0px;
  padding-bottom: 10px;
  transition: padding-top 0.5s ease, box-shadow 1 s linear;
}

button:hover {
  box-shadow: 0px 0px 10px #000;
  background-color: #000;
  padding-top: 5px;
  color: white;
  border-left: 20px solid #000;
  border-right: 20px solid #000;
  transition: border-left 1s ease-out, border-right 1s ease-out, background-color 1s ease, box-shadow 1ms linear;
}

button:active {
  transform: scale(0.95);
  font-weight: bold;
}

/******* QUESTÃO 2 - 3 *******/
#questao2, #questao3 > div{
  width: 150px;
  height: 150px;
  background-size: contain;
  border-radius: 50%;
  
  border: solid 10px #ccc;
  border-top: solid 12px #111;
}

#questao2 {
  animation: loading 2s linear infinite running;
}

#questao3 {
  width: 155px;
  margin: 0 auto;
  padding: 1px;
  text-align: center; 
  border: dotted 2px #1e1e1e;
}

#questao3 > div {
  border-radius: 50%;
  animation: loading 2s linear infinite paused;
}

#questao3 > div:hover {
  animation-play-state: running;
}

@keyframes loading {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

/******* QUESTÃO 4 *******/
.loader {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 2px solid gray;
}

.loader div {
  width: 25px;
  height: 25px;
}

#bit1 {
  background-color: lightgray;
  animation: b1 1s linear 0.8s infinite paused;
  transform: translate(31px, 0px);
}

#bit2 {
  background-color: gray;
  animation: b2 1s linear 0.65s infinite paused;
  transform: translate(6px, 0px);
}

#bit3 {
  background-color: black;
  animation: b3 1s linear 0.5s infinite paused;
  transform: translate(-19px, 0px);
}

.loader:hover #bit1,
.loader:hover #bit2,
.loader:hover #bit3 {
  animation-play-state: running;
}

@keyframes b1 {
  0%, 100% {transform: translate(0px, 0px);}
  50% {
    transform: translate(75px, 0px);
    opacity: 0.1;
  }
}

@keyframes b2 {
  0%, 100% { transform: translate(-25px, 0px);}
  50% {
    transform: translate(50px, 0px);
    opacity: 0.5;
  }
}

@keyframes b3 {
  0%, 100% {transform: translate(-50px, 0px);}
  50% {
    transform: translate(20px, 0px);
  }
}

/******* QUESTÃO 5 *******/
#questao5{
  width: 500px;
  height: 40px;
  border: solid 3px #1e1e1e;
}

#questao5 div {
  width: 494px;
  height: 34px;
  animation: sidebar 3s linear forwards paused;
}

#questao5 div:hover{
  animation-play-state: running;
}

@keyframes sidebar {
  0% {border-left: solid 0px red;}
  100% {border-left: solid 494px red;}
}

/******* QUESTÃO 6 *******/
#questao6{
  width: 500px;
  height: 400px;
  border: double 5px green;
}

#questao6 div {
  position: absolute;
  visibility: hidden;
  width: 150px;
  height: 170px;
  background-image: url(img/goblin_big.png);
}

.goblin-down {
  animation: down 0.8s step-end;  
}

.goblin-right {
  animation: right 1.2s  step-end 0.8s;  
}

.goblin-up {
  animation: up 0.8s step-end 2s;  
}

.goblin-left {
  animation: left 1.2s step-end 2.8s;  
}

@keyframes down{
  0% {
    visibility: visible;
    background-position: 0px 0px;
    transform: translateY(0px);
  }
  25% {  
    background-position: -170px 0px;
    transform: translateY(70px);
  }
  50% { 
    background-position: -325px 0px;
    transform: translateY(140px);
  }
  75% { 
    background-position: -170px 0px;
    transform: translateY(220px);
  }
}

@keyframes right{
  0% {
    visibility: visible;
    background-position: 0px -360px;
    transform: translate(0px, 220px);
  }
  16% { 
    background-position: -170px -360px;
    transform: translate(58px, 220px);
  }
  32% { 
    background-position: -325px -360px;
    transform: translate(116px, 220px);
  }
  48% { 
    background-position: -170px -360px;
    transform: translate(174px, 220px);
  }
  64% {  
    background-position: -325px -360px;
    transform: translate(232px, 220px);
  }
  80% {   
    background-position: -170px -360px;
    transform: translate(290px, 220px);
  }
  96% {   
    background-position: -325px -360px;
    transform: translate(350px, 220px);
  }
}

@keyframes up{
  0% {
    visibility: visible;
    background-position: 0px -180px;
    transform: translate(350px, 220px);
  }
  25% {   
    background-position: -170px -180px;
    transform: translate(350px, 140px);
  }
  50% {    
    background-position: -325px -180px;
    transform: translate(350px, 70px);
  }
  75% {   
    background-position: -170px -180px;
    transform: translate(350px, 0px);
  }
}

@keyframes left{
  0% {
    visibility: visible;
    background-position: 0px -540px;
    transform: translate(350px, 0px);
  }
  16% {    
    background-position: -170px -540px;
    transform: translate(290px, 0px);
  }
  32% {   
    background-position: -325px -540px;
    transform: translate(232px, 0px);
  }
  48% {    
    background-position: -170px -540px;
    transform: translate(174px, 0px);
  }
  64% {   
    background-position: -325px -540px;
    transform: translate(116px, 0px);
  }
  80% {
    background-position: -170px -540px;
    transform: translate(58px, 0px);
  }
  96% {
    background-position: -325px -540px;
    transform: translate(0px, 0px);
  }
}