* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

/* LAYOUT */
.container {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  display: block;
}

.input-group {
  width: 100%;
}


/******* QUESTÃO 1 *******/
/* INPUT */
input {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: solid 1px;
  margin-bottom: 15px;
  padding: 5px;
  transition: border-bottom 0.5s linear;
}

input::placeholder {
  color: #000;  
}

.input-group label {
  position: relative;
  top: -40px;
  opacity: 0;
  visibility: hidden;
}

input:focus {
  outline: 0;
  border-bottom: solid 3px;
  transition: border-bottom 0.5s step-end;
}

input:focus ~ label {
  opacity: 1;
  visibility: visible;
  top: -60px;
  transition: all 100ms linear;
}

input:focus::placeholder {
  opacity: 0;
  visibility: hidden;
}

/* BUTTON */
button {
  outline: 0;
  width: 100px;
  height: 40px;
  background-color: #808080;
  color: #1e1e1e;
  border: 0px;
  border-bottom: 0px;
  padding-bottom: 10px;
  transition: padding-top 0.5s ease, box-shadow 1 s linear;
}

button:hover {
  box-shadow: 0px 0px 10px #000;
  background-color: #000;
  padding-top: 5px;
  color: white;
  border-left: 20px solid #000;
  border-right: 20px solid #000;
  transition: border-left 1s ease-out, border-right 1s ease-out, background-color 1s ease, box-shadow 1ms linear;
}

button:active {
  transform: scale(0.95);
  font-weight: bold;
}

/******* QUESTÃO 2 - 3*******/
#questao2, #questao3 > div{
  width: 150px;
  height: 150px;
  background-size: contain;
  background-image: url(img/q2.png);
}

#questao2 {
  animation: loading 0.5s step-end infinite running;
}

#questao3 {
  width: 155px;
  margin: 0 auto;
  padding: 1px;
  text-align: center; 
  border: dotted 2px #1e1e1e;
}

#questao3 > div {
  border-radius: 50%;
  animation: loading 0.5s step-end infinite paused;
}

#questao3 > div:hover {
  animation-play-state: running;
}

@keyframes loading {
  0%, 100% {transform: rotate(0deg);}
  10% {transform: rotate(36deg);}
  20% {transform: rotate(72deg);}
  30% {transform: rotate(108deg);}
  40% {transform: rotate(144deg);}
  50% {transform: rotate(180deg);}
  60% {transform: rotate(216deg);}
  70% {transform: rotate(252deg);}
  80% {transform: rotate(288deg);}
  90% {transform: rotate(324deg);}
}

/******* QUESTÃO 5 *******/
#questao5{
  width: 500px;
  height: 40px;
  border: solid 3px #1e1e1e;
}

#questao5 div {
  width: 494px;
  height: 34px;
  animation: sidebar 3s linear paused;
}

#questao5 div:hover{
  animation-play-state: running;
}

@keyframes sidebar {
  0% {border-left: solid 0px red;}
  10% {border-left: solid 50px red;}
  20% {border-left: solid 100px red;}
  30% {border-left: solid 150px red;}
  40% {border-left: solid 200px red;}
  50% {border-left: solid 250px red;}
  60% {border-left: solid 300px red;}
  70% {border-left: solid 350px red;}
  80% {border-left: solid 400px red;}
  90% {border-left: solid 450px red;}
  100% {border-left: solid 494px red;}
}

